.hidden-breadcrumb{
	visibility:hidden;
}

.hidden-levels{
	display:none;
}

.node{
	padding: 5px 0 0 10px;
	cursor: pointer;
	width: max-content;
}

.title{
	cursor: pointer;
	width: max-content;
}

.breadcrumb-container{
	display: flex;
	list-style: none;
	padding-bottom: 20px;
	height: 60px;
}