*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100vw;
	height: 100vh;
}
.App{
	margin: 50px;
}

.breadcrumb-container{
	display: flex;
	list-style: none;
	padding-bottom: 20px;
	height: 60px;
}
